.element__delete-icon-part2 {
  position: relative;
  width: 15.44px;
  height: 13.3px;
  background-repeat: repeat;
  background-size: cover;
  background-size: contain;
  margin: 0 auto;
  background: url(../../../images/delete_icon-part2.svg);
}
